.cash{
    background-image: url('/img/cashBBg.png');
}
@media(max-width:768px) {
    .cash{
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .cash .text{
        position: relative;
        right: 0;
        margin: auto;
    }
    .cash .images{
        height: auto;
    }
}


    @media  (max-height:655px) {
        .cash .text{
            top: 10%;
        }
}


@media (max-width: 282px) {
    .cash .text{
        top: 8%;
    }
    .cash img{
        right: 15%;
    }
}

@media (max-width: 1150px){

@media(max-height:670px){
    .cash img{
        max-height: 370px;
    }
}}